<%- include('../shared/header.ejs') %>
</head>
<body>
<%- include('../shared/navbar.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <% if (errorMessage.length > 0) { %>
                <div class="alert alert-danger">
                    <%= errorMessage %>
                </div>
            <% } %>
            <form action="/users/new-password" method="post">
                <div class="form-group">
                    <label for="password">Enter your new password here</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="resetToken" value="<%= resetToken %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-primary">Update Password</button>
            </form>
        </div>
    </div>
</div>

<%- include('../shared/footer.ejs') %>
